<div class="section section-sm bg-white pt-5 pt-lg-6 text-black">
    <article class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-9">
                {{ content }}
            </div>
                <div class="col-3 col-lg-3">
                    <div class="col-12 col-lg-12">
                        <div class="mt-5 mt-sm-0">
                            <div class="mb-3">
                                <span class="h6">Sidebar Menu</span>
                            </div>
                            <ul class="list-group list-group-flush rounded border border-gray-300 shadow">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                    <a href="#">Messages</a>
                                    <span class="badge bg-primary badge-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                    <a href="#">Activity</a>
                                    <span class="badge bg-secondary badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                    <a href="#">Settings</a>
                                    <span class="badge bg-tertiary badge-pill">1</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 my-5 my-md-0 mt-3">
                        <div class="mb-3">
                            <span class="h6">Archives</span>
                        </div>
                        <ul class="list-group list-group-flush rounded border border-gray-300 shadow p-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                <a href="#">May 2019</a>50
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                <a href="#">April 2019</a>78
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                <a href="#">March 2019</a>34
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                <a href="#">February 2019</a>37
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                <a href="#">January 2019</a>80
                            </li>
                        </ul>
                    </div>
                </div>
                
                

            

            
        </div>
        <div class="row justify-content-sm-center align-items-center py-3 mt-3">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-9 col-md-6">
                        <h6 class="fw-bolder d-inline mb-0 me-3">Share:</h6>
                        <button class="btn btn-sm me-2 btn-icon-only btn-pill btn-twitter d-inline text-white" aria-label="twitter social link"><span class="fab fa-twitter"></span></button>
                        <button class="btn btn-sm me-2 btn-icon-only btn-pill btn-facebook d-inline" aria-label="facebook social link"><span class="fab fa-facebook-f"></span></button>
                        <button class="btn btn-sm btn-icon-only btn-pill bg-orange d-inline text-white" aria-label="reddit social link"><span class="fab fa-reddit-alien"></span></button>
                    </div>
                    <div class="col-3 col-md-6 text-right">
                        <span class="far fa-bookmark text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="Bookmark story" data-bs-original-title="Bookmark story" aria-label="Bookmark story"></span>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>